name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target-board: ["esp32-cam", "esp32-wrover-dev", "esp32-s3-eye-22", "xiao-esp32-s3", "esp32-s3-cam", "esp32-s3-wroom-freenove"]
    steps:
    - name: Setup Arduino CLI
      uses: arduino/setup-arduino-cli@v2
    - name: Checkout Code
      uses: actions/checkout@v4
    - name: Install Dependencies
      run: make prereqs
    - name: Update Certs
      run: make certs
    - name: Build firmware
      run: make ${{ matrix.target-board }}
    - name: Upload built firmware
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.target-board }}.zip
        path: build/output
